In [1]:
import pandas as pd
import numpy as np
from functions.cleaning import *
from functions.processing import *
from name_dictionary import name_dict
from functions.preprocessing import *

DATA_PATH = 'datasets/dec-jan.xlsx'
raw_df = pd.read_excel(DATA_PATH, converters={'MRN': str}, parse_dates=['Order Date', 'Last ED Visit'])
# raw_df = pd.read_excel(DATA_PATH)
# template = pd.read_csv("import_template.csv")
# clean_df = clean_data(raw_df)
# df = process_data(clean_df, template)

In [13]:
df = raw_df.drop_duplicates(subset = ["MRN"])

In [11]:
from datetime import datetime
from uuid import uuid4

EVENT_NAME = "followup"


timestamp = datetime.now().strftime('%Y-%m-%d%H-%M')
run_name = EVENT_NAME + '-' + timestamp
os.mkdir('test_files/{}'.format(run_name))

In [10]:
t = "hello"
a = t + '-' + eventid
print(a)

hello-2022-06-1912-53

In [2]:
a,b,c = preprocess_data(raw_df, drop_duplicates=False)

Missing test removed: 57
Negatives removed: 64
Duplicate patients removed: 3146
Patients recently hospitalized: 1
Patients with too many meds: 1

In [80]:
raw_df.loc[raw_df["Current Medications"].fillna("none").str.contains('There are too many')]

37

In [52]:
ed_df = raw_df[raw_df["ED Visits-Last 30 Days"] != 0]
df = raw_df.drop(ed_df.index)

In [58]:
idf[idf.columns[20:36]].replace("1", 1).sum()

history_of_or_current_diag___1      14.0
history_of_or_current_diag___2      23.0
history_of_or_current_diag___3      20.0
history_of_or_current_diag___4      28.0
history_of_or_current_diag___5      31.0
history_of_or_current_diag___6     207.0
history_of_or_current_diag___7     114.0
history_of_or_current_diag___8      16.0
history_of_or_current_diag___9      19.0
history_of_or_current_diag___10     17.0
history_of_or_current_diag___11    129.0
history_of_or_current_diag___12      2.0
history_of_or_current_diag___13      1.0
history_of_or_current_diag___14     11.0
history_of_or_current_diag___15     53.0
history_of_or_current_diag___16     97.0
dtype: float64

In [71]:
template = pd.read_csv('import_template.csv')
diction = pd.read_excel("data_dictionary.xlsx")

In [81]:
template.columns[template.columns.str.contains('complete')]

Index(['demographics_complete', 'covid19_status_complete',
       'additional_demographics_complete', 'medical_history_complete',
       'current_medications_complete',
       'post_covid_venous_thromboembolism_complete',
       'post_covid_arterial_thrombosis_complete',
       'post_covid_interventions_and_procedures_complete'],
      dtype='object')

In [101]:
template.columns

(134,)

In [104]:
title = 'OCTRI12531CoagulopathyOfCOVID1_DataDictionary_2022-06-12'
diction[diction[title].isin(template.columns)]

,OCTRI12531CoagulopathyOfCOVID1_DataDictionary_2022-06-12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1,record_id,demographics,NaN,text,Record ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,first_name,demographics,NaN,text,First Name,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,last_name,demographics,NaN,text,Last Name,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mrn,demographics,NaN,text,MRN,NaN,NaN,NaN,NaN,NaN,y,NaN,y,NaN,NaN,NaN,NaN,NaN
5,dob,demographics,NaN,text,Date of Birth,NaN,NaN,date_mdy,1900-01-01,NaN,y,NaN,y,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,other_anticoagulant_treame,post_covid_interventions_and_procedures,NaN,notes,Other Anticoagulant Treament,NaN,NaN,NaN,NaN,NaN,NaN,[type_of_anticoagulation_tr] = '7',NaN,NaN,NaN,NaN,NaN,NaN
76,mortality,post_covid_interventions_and_procedures,NaN,yesno,Mortality?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,date_of_mortality,post_covid_interventions_and_procedures,NaN,text,Date of Mortality:,NaN,NaN,date_mdy,NaN,NaN,NaN,[mortality] = '1',NaN,NaN,NaN,NaN,NaN,NaN
78,cause_of_death,post_covid_interventions_and_procedures,NaN,radio,Cause of Death,"1, VTE | 2, Arterial thrombosis | 3, Other",NaN,NaN,NaN,NaN,NaN,[mortality] = '1',NaN,NaN,NaN,NaN,NaN,NaN
79,cause_of_death1,post_covid_interventions_and_procedures,NaN,notes,Cause of Death,NaN,NaN,NaN,NaN,NaN,NaN,[mortality] = '1',NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
diction.columns

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])