In [2]:
import pandas as pd
import numpy as np
from oop_functions import Collection

In [3]:
df = pd.read_excel('datasets/month_followup.xlsx', converters={'MRN': str}, parse_dates=['Order Date', 'Last ED Visit'])

In [ ]:
Collection(df, template, roster_path='test_roster.xlsx', event= 'initial_collection_arm_1')

In [5]:
df.dtypes

Patient First Name                    float64
Patient Last Name                     float64
MRN                                    object
DOB                            datetime64[ns]
Sex                                    object
Order Date                     datetime64[ns]
COVID19 Component Value                object
Height                                 object
Weight                                 object
Temp                                   object
Pulse                                  object
Systolic BP                            object
Diastolic BP                           object
Smoking Status                         object
Last Pack Years                       float64
Medical History                        object
Diagnosis from Problem List            object
PMH                                    object
Last EF Value                          object
Current Medications                    object
ED Vis Last 90 Days                     int64
Last ED Visit                  datetime64[ns]
ED Visits-Last 30 Days                  int64
dtype: object

In [6]:
pd.read_excel('test.xlsx')

      Unnamed: 0  ED Vis Last 90 Days Last ED Visit  ED Visits-Last 30 Days
0              0                    3     9/11/2021                       1
1              1                    0     3/14/2021                       0
2              2                    0           NaN                       0
3              3                    0           NaN                       0
4              4                    0           NaN                       0
...          ...                  ...           ...                     ...
1175        1175                    0           NaN                       0
1176        1176                    0           NaN                       0
1177        1177                    0     3/29/2021                       0
1178        1178                    1           NaN                       0
1179        1179                    0           NaN                       0

[1180 rows x 4 columns]