In [124]:
import pandas as pd
import numpy as np
from oop_functions import Collection
import re

In [140]:
df = pd.read_excel('datasets/month_followup.xlsx', converters={'MRN': str}, parse_dates=['Order Date', 'Last ED Visit'])
df.columns

Index(['Patient First Name', 'Patient Last Name', 'MRN', 'DOB', 'Sex',
       'Order Date', 'COVID19 Component Value', 'Height', 'Weight', 'Temp',
       'Pulse', 'Systolic BP', 'Diastolic BP', 'Smoking Status',
       'Last Pack Years', 'Medical History', 'Diagnosis from Problem List',
       'PMH', 'Last EF Value', 'Current Medications', 'ED Vis Last 90 Days',
       'Last ED Visit', 'ED Visits-Last 30 Days'],
      dtype='object')

In [123]:
df["Last EF Value"]
ef_series = df["Last EF Value"].fillna("1000")
ef_series = ef_series.apply(lambda x: re.search('\d+|$', str(x)).group())
ef_series.replace("1000", np.NaN, inplace=True)
# ef_series.dtype
pd.to_numeric(ef_series, errors='coerce')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1175   NaN
1176   NaN
1177   NaN
1178   NaN
1179   NaN
Name: Last EF Value, Length: 1180, dtype: float64

In [84]:
df['Pulse'][df.pulse == 0]

138     (!) 0
144     (!) 0
464     (!) 0
909     (!) 0
978     (!) 0
1162    (!) 0
Name: Pulse, dtype: object

In [21]:
import re
a = []
for i in df.weight:
    # a.append(re.split(' kg', i)[0])
    b = i.split(' kg')[0]
    a.append(b.replace('(!) ', ''))

In [22]:
a[50:100]

['None',
 'None',
 'None',
 '98',
 'None',
 '69.4',
 'None',
 'None',
 '82.6',
 'None',
 'None',
 'None',
 '63',
 'None',
 'None',
 'None',
 'None',
 '89.9',
 '69',
 '112',
 'None',
 '112',
 '70.8',
 '14.8',
 'None',
 '104.8',
 '80.7',
 '101.4',
 '119.7',
 '66.1',
 '97.3',
 '58.7',
 '70.8',
 '79.3',
 '107.7',
 '112.2',
 '71.6',
 'None',
 '106.6',
 '84.5',
 '143.4',
 '34.6',
 '54.4',
 'None',
 '98',
 'None',
 '106.1',
 '108.9',
 '97.6',
 '72.6']

In [5]:
df.height

0          1.549 m (5' 1")
1          1.575 m (5' 2")
2                     None
3          1.549 m (5' 1")
4                     None
               ...
1175       1.575 m (5' 2")
1176    158.8 cm (5' 2.5")
1177    1.473 m (4' 9.99")
1178       1.753 m (5' 9")
1179       1.626 m (5' 4")
Name: height, Length: 1180, dtype: object

In [4]:
for i in df.height:
    if i == "None":
        i = "yes"

In [6]:
pd.read_excel('test.xlsx')

      Unnamed: 0  ED Vis Last 90 Days Last ED Visit  ED Visits-Last 30 Days
0              0                    3     9/11/2021                       1
1              1                    0     3/14/2021                       0
2              2                    0           NaN                       0
3              3                    0           NaN                       0
4              4                    0           NaN                       0
...          ...                  ...           ...                     ...
1175        1175                    0           NaN                       0
1176        1176                    0           NaN                       0
1177        1177                    0     3/29/2021                       0
1178        1178                    1           NaN                       0
1179        1179                    0           NaN                       0

[1180 rows x 4 columns]